<html>
    <head>
        <body>
            
            <form class="grid" action="/result" method="POST">

                

                  <center>
                    <h3 style="color: blue;" class="let_space"> {{a}}</h3>
                    {% if a == '맑음' %}
                      <iframe width="560" height="500" src="https://wmprogram.netlify.app/taste_settings_sunny.html"  frameborder="0">이 브라우저는 iframe을 지원하지 않습니다</iframe></p>

                    {% elif a == '흐림' %}
                      <iframe width="560" height="500" src="https://wmprogram.netlify.app/taste_settings_blur.html"  frameborder="0">이 브라우저는 iframe을 지원하지 않습니다</iframe></p>
            
                    {% elif a == '비' %}
                      <iframe width="560" height="500" src="https://wmprogram.netlify.app/taste_settings_rainy.html"  frameborder="0">이 브라우저는 iframe을 지원하지 않습니다</iframe></p>
                    
                    {% elif a == '눈' %}
                      <iframe width="560" height="500" src="https://wmprogram.netlify.app/taste_settings_snow.html"  frameborder="0">이 브라우저는 iframe을 지원하지 않습니다</iframe></p>
    
                    {% endif %}
                  </center>
      
                
                 
                      
            </form>
        </body>
    </head>
</html>